*{
  margin: 0;
  padding: 0;
}

.upper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1D1F21;

}

.rightsect{
  background-color: #25282C;
  width: 49%;
  margin-left: 10px;
  height: 80vh;
  /* padding: 20x; */
}
.leftsect{
  margin-top: 10px;
  /* background-color: yellow; */
  width: 49%;
  margin-right: 10px;
  height: 80vh;
}